header.css-1avcm0n {
  background-color: rgba(0,0,0,0);
}

div.css-usj992 {
  background-color: rgba(0,0,0,0)
}

div.css-10oheav {
  background-color: rgba(0,0,0,0)
}

svg.css-fblp2m {
  background-color: rgba(60,60,60,0)
}
